hidden = [".config"]
modules = ["nodejs-20", "web", "nix"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npm run start"]
