hidden = [".config"]
modules = ["nodejs-20", "web:v2-20230623-0b7a606"]
run = "npm run start"

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "./"
deploymentTarget = "static"

[[ports]]
localPort = 3000
externalPort = 80
